.s-carousel .col-md-12 {
	padding: 0;
}

.s-carousel img {
	background-size: cover;
	background-position: top center;
	width: 100%;
	overflow: hidden;
	position: relative;
}

/* Owl Carousel */
.carousel-images {
	position: relative;
}

.carousel-images .owl-controls {
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
}

.carousel-images .owl-controls .owl-nav {
	position: absolute;
	width: 100%;
	bottom: 240px;
}

.carousel-images .owl-controls .owl-nav > div{
	position: absolute;
	left: 25px;
	font-size: 38px;
	font-family: "MyriadPro-Regular", sans-serif;
	color: #fff;
	opacity: .7;
	font-weight: normal;
	transition: all .3s ease;
}

.carousel-images .owl-controls .owl-nav > div:hover {
	color: #dfbdaf;
}

.carousel-images .owl-controls .owl-nav .owl-next {
	right: 25px;
	left: auto;
}

.carousel-images .owl-dots {
	text-align: center;
}

.carousel-images .owl-dots .owl-dot {
	height: 14px;
	width: 14px;
	background-color: #dfbdaf;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 23px;
	margin-right: 14px;
}

.carousel-images .owl-dots .owl-dot.active {
	background-color: #303030;
}

.s-carousel .button {
	right: 110px;
	bottom: 40px;
}
/* End of Owl Carousel */

/* Button */
.button {
	position: absolute;
	border: none;
	background-color: #fff;
	color: #000;
	font-family: "MyriadPro-Regular", sans-serif;
	font-size: 12.5px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 13px 34px;
	border-radius: 5px;
	box-shadow: 0 4px 0 #dfbdaf;
	transition: all .25s ease-in-out;
	text-align: center;
}

.button:hover {
	background-color: #e0cbbf;
	color: #303030;
	text-decoration: none;
}

.button:focus , .button:active {
	background-color: #dfbdaf;
	color: #fff;
	transform: translateY(2px);
}
/* End of Button */

.s-slogan p {
	font-family: "MyriadPro-Regular", sans-serif;
	font-size: 18px;
	letter-spacing: 6px;
	color: #000;
	text-align: center;
	margin: 34px;
}

.s-shops .col-md-4 {
	padding: 0;
}

.shop .responsive-img {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
}

.shop .button {
	display: block;
	bottom: 12%;
	left: 30%;
}

.s-video .col-md-12 {
	padding: 0;
	margin-top: 80px;
	margin-bottom: 40px;
}

.s-video video {
	max-height: 550px;
	width: 100%;
	background-color: #000;
}

.s-join .col-md-12 {
	padding: 0;
	margin-bottom: 40px;
	margin-top: 40px;
}

.s-join img {
	background-size: cover;
	background-position: top center;
	width: 100%;
	overflow: hidden;
}

.s-join .button {
	bottom: 80px;
	left: 130px;
}

/* Custom Media Queries */
@media only screen and (min-height: 899px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
/**/
}
@media only screen and (max-width: 1200px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 200px;
}
.s-carousel .button {
	right: 8%;
	bottom: 10%;
}
.shop .button {
	bottom: 12%;
	left: 27%;
}
.s-join .button {
	bottom: 12%;
	left: 8%;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 170px;
}
.s-carousel .button {
	right: 8%;
	bottom: 10%;
}
.shop .button {
	bottom: 12%;
	left: 24%;
}
.s-join .button {
	bottom: 12%;
	left: 8%;
}
.s-video .col-md-12 {
	padding: 0;
	margin-top: 40px;
	margin-bottom: 20px;
}
.s-join .col-md-12 {
	padding: 0;
	margin-bottom: 40px;
	margin-top: 20px;
}
}
@media only screen and (max-width: 930px) {
.button {
	padding: 10px 24px;
}
}
@media only screen and (max-width: 830px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 150px;
}
.s-slogan p {
	font-size: 15px;
	letter-spacing: 6px;
	margin: 34px;
}
.shop .button {
	bottom: 12%;
	left: 21%;
}
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 135px;
}
.s-carousel .button {
	right: 5%;
	bottom: 10%;
}
.s-slogan p {
	font-size: 15px;
	letter-spacing: 6px;
	margin: 34px;
}
.shop .button {
	bottom: 12%;
	left: 18%;
}
}
@media only screen and (max-width: 700px) {
.button {
	padding: 8px 15px;
}
}
@media only screen and (max-width: 630px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 115px;
}
.s-carousel .button {
	right: 5%;
	bottom: 10%;
}
.s-slogan p {
	margin-top: 0;
	margin-bottom: 24px;
}
.shop .button {
	bottom: 12%;
	left: 15%;
}
}
@media only screen and (max-width: 590px) {
.shop .button {
	bottom: 12%;
	left: 12%;
}
}
@media only screen and (max-width: 560px) {
.shop .button {
	bottom: 12%;
	left: 10%;
}
}
@media only screen and (max-width: 520px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 100px;
}
.carousel-images .owl-controls .owl-nav > div{
	left: 25px;
	font-size: 30px;
}
.carousel-images .owl-dots .owl-dot {
	margin-bottom: 2%;
	margin-right: 14px;
}
.s-slogan p {
	margin-top: 0;
	margin-bottom: 14px;
}
.s-carousel {
	margin-bottom: 14px;
}
.shop .button {
	position: relative;
	left: 10px;
	right: 10px;
	border: 1px solid #dfbdaf;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 85px;
}
.carousel-images .owl-dots .owl-dot {
	margin-bottom: 1%;
	margin-right: 14px;
}
.s-carousel .button {
	padding: 5px 10px;
	right: 3%;
	bottom: 5%;
}
.s-slogan p {
	font-size: 13px;
	letter-spacing: 4px;
}
.shop .button {
	display: block;
	padding: 5px;
	margin: 0 20px 0 0;
	font-size: 10px;
	letter-spacing: 2px;
	text-align: center;
}
.s-join .button {
	padding: 5px 10px;
	left: 3%;
	bottom: 5%;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 65px;
}
.carousel-images .owl-controls .owl-nav > div{
	left: 10px;
	font-size: 27px;
}
.carousel-images .owl-controls .owl-nav .owl-next {
	right: 10px;
	left: auto;
}
.carousel-images .owl-dots .owl-dot {
	margin-bottom: 1%;
	margin-right: 8px;
}
.s-carousel .button {
	padding: 0 3px;
	right: 3%;
	bottom: 5%;
	font-size: 10px;
}
.s-slogan p {
	font-size: 13px;
	letter-spacing: 3px;
	margin: 14px;
}
.shop .responsive-img {
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}
.shop .button {
	padding: 0 3px;
}
.s-join .col-md-12 {
	margin-bottom: 20px;
	margin-top: 20px;
}
.s-join .button {
	padding: 0 3px;
	left: 3%;
	bottom: 5%;
	font-size: 10px;
}
}
@media only screen and (max-width: 280px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 60px;
}
.carousel-images .owl-dots .owl-dot {
	margin-bottom: 1%;
	margin-right: 8px;
}
.s-carousel .button {
	padding: 0 3px;
	right: 3%;
	bottom: 5%;
	font-size: 10px;
}
.s-slogan p {
	margin: 10px;
}
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	/**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}

@media only screen and (min-width: 1350px) {
.shop .responsive-img {
	display: block;
	width: 422px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
}
@media only screen and (min-width: 1600px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 280px;
}
.shop .button {
	bottom: 12%;
	left: 33%;
}
}
@media only screen and (min-width: 1750px) {
.carousel-images .owl-controls .owl-nav {
	bottom: 300px;
}
.shop .button {
	bottom: 12%;
	left: 35%;
}
}