.product .photo {
	margin-top: 40px;
}

.product .photo img {
	width: 98px;
	height: 124px;
	background-color: #dfbdaf;
	margin: 5px 0 0 0;
}

.product .photo .big {
	width: 379px;
	height: 511px;
	background-color: #dfbdaf;
	margin-left: 30px;
	margin-bottom: 40px;
}