@font-face {
	font-family: "HunterRiver-Regular";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/HunterRiver-Regular.otf") format("opentype");
}

@font-face {
	font-family: "LucidaConsole";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/LucidaConsole.ttf") format("truetype");
}

@font-face {
	font-family: "MyriadPro-Regular";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/MyriadPro-Regular.otf") format("opentype");
}

h1, h2, h3, h4{
	font-family: "HunterRiver-Regular", sans-serif;
	font-weight: normal;
}

.logo h1 {
	text-align: center;
	font-size: 117px;
	color: #000;
	margin: 0;
}

.logo a:hover , .logo a:focus{
	text-decoration: none;
}

.lang_line {
	background-color: #dfbdaf;
}

.lang_line .languages {
	display: block;
	font-family: "MyriadPro-Regular", sans-serif;
	color: #fff;
	font-size: 12px;
	text-align: right;
	margin: 2px;
}

.lang_line .languages a {
	color: #fff;
	font-size: 16px;
}

.lang_line .ru {
	border-right: 1px solid #fff;
	padding-right: 2px;
}

.main_line .s_networks {
	display: block;
	text-align: left;
}

.main_line .s_networks img {
	height: 20;
	width: auto;
	margin: 45px 12px;
}

.main_line .s_networks svg {
	height: 20;
	width: auto;
	margin: 45px 12px;
}

.main_line .s_networks a path {
	fill: #000 !important;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

.main_line .s_networks a:hover path {
	fill: #585250!important;
}

.main_line .basket {
	display: -webkit-inline-box;;
	position: relative;
	float: right;
	margin-top: 45px;
}

.main_line .basket .shop-count {
	display: block;
	margin-top: 5px;
	margin-right: 10px;
}

.main_line .basket .shop-count span {
	font-family: "MyriadPro-Regular", sans-serif;
	font-size: 12.5px;
	color: #fff;
	border-radius: 50%;
	background-color: #dfbdaf;
	padding: 4px 8px;
}

.main_line .basket img {
	height: 25;
	width: auto;
}

.main_line .basket svg {
	height: 25;
	width: auto;
}

.main_line .basket a path {
	fill: #000 !important;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

.main_line .basket a:hover path {
	fill: #585250!important;
}

.mnu_line .col-md-2 {
	padding: 0;
}

.mnu-line {
	margin: 0;
}

.mnu_line a {
	display: block;
	font-family: "MyriadPro-Regular", sans-serif;
	font-size: 12.5px;
	color: #000;
	text-align: center;
	border-left: 1px solid #dfbdaf;
	border-right: 1px solid #dfbdaf;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mnu_line a:hover {
	color: #303030;
}

.mnu_line .first {
	border-left: none;
}

.mnu_line .last {
	border-right: none;
}

.mnu_line i {
	font-family: "FontAwesome";
	color: #000;
	padding-left: 3px;
}

/*Hidden menu*/

.mnu_line ul {
	list-style: none;
	margin: 0 0 10px;
  padding: 0;
}
.mnu_line .topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.mnu_line .submenu {
  background: #fff;
  position: absolute;
  z-index: 5;
  width: 100%;
  opacity: 0;
  transform: scaleY(0);
  transform-origin :0 0;
  transition: .3s ease-in-out;
}
.mnu_line .submenu a {
  color: #000;
  font-family: "MyriadPro-Regular", sans-serif;
	font-size: 12.5px;
	text-transform: uppercase;
	border-right: 1px solid #dfbdaf;
  padding: 12px 10px;
}

.mnu_line .submenu a:hover {
	background-color: #dfbdaf;
	color: #fff;
	text-decoration: none;
	transition: .2s ease-in-out;
}

.mnu_line .submenu li:last-child a {
	border-bottom: 2px solid #dfbdaf;
}
.mnu_line .topmenu > li:hover .submenu {
	opacity: 1;
  transform: scaleY(1);
}

/*End of Hidden menu*/
.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px;
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-mnu span:after {
  top: 18px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #dfbdaf;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.on span:after {
  transform: rotate(-45deg) translate(6px, -7px);
}


.toggle-mnu {
	display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.hidden-mnu {
  background-color: #dfbdaf;
  display: none;
  position: relative;
  top: 20px;
}
.hidden-mnu li {
  display: block;
}
.hidden-mnu > ul {
  padding: 20px 0;
}
.hidden-mnu > ul > li.active a {
  text-decoration: underline;
  color: #dfbdaf;
}
.hidden-mnu > ul > li > a {
  padding: 15px 0;
}
.hidden-mnu > ul > li > a:hover {
  color: #fff;
  background-color: #303030;
  text-decoration: none;
}
.hidden-mnu {
	margin: 0;
}

.hidden-mnu a {
	display: block;
	font-family: "MyriadPro-Regular", sans-serif;
	font-size: 12.5px;
	color: #000;
	text-align: center;
	border-left: 1px solid #dfbdaf;
	border-right: 1px solid #dfbdaf;
	padding-top: 5px;
	padding-bottom: 5px;
}

.hidden-mnu a:hover {
	color: #303030;
}

.hidden-mnu .first {
	border-left: none;
}

.hidden-mnu .last {
	border-right: none;
}

.hidden-mnu i {
	font-family: "FontAwesome";
	color: #000;
	padding-left: 3px;
}
.hidden-mnu ul {
	list-style: none;
	margin: 0 0 0;
  padding: 0;
}
.hidden-mnu .topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.hidden-mnu .submenu {
  background: #fff;
  position: absolute;
  z-index: 5;
  width: 100%;
  opacity: 0;
  transform: scaleY(0);
  transform-origin :0 0;
  transition: .3s ease-in-out;
  padding: 0;
}
.hidden-mnu .submenu a {
  color: #000;
  font-family: "MyriadPro-Regular", sans-serif;
	font-size: 12.5px;
	text-transform: uppercase;
	border-right: 1px solid #dfbdaf;
  padding: 12px 10px;
}

.hidden-mnu .submenu a:hover {
	background-color: #dfbdaf;
	color: #fff;
	text-decoration: none;
	transition: .2s ease-in-out;
}

.hidden-mnu .submenu li:last-child a {
	border-bottom: 2px solid #dfbdaf;
}
.hidden-mnu .topmenu > li:hover .submenu {
	opacity: 1;
  transform: scaleY(1);
}
/* End of Toggle Menu */

.section-pink {
	background-color: #dfbdaf;
	padding-bottom: 11px;
	font-family: "MyriadPro-Regular", sans-serif;
	font-size: 17px;
	color: #fff;
}

.feedback .subscription {
	display: block;
	text-align: center;
	margin-top: 30px;
}

.feedback .subscription .lable {
	font-size: 18px;
	letter-spacing: 2px;
	margin-right: 8%;
}

.feedback .subscription .dop {
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-right: 8%;
}

.feedback .subscription .send-email {
	display: -webkit-inline-box;
	position: relative;
}
.feedback .subscription .send-email input {
	position: relative;
	width: 280px;
	padding: 7px 12px 7px;
	color: #303030;
	background-color: #f8ede6;
	border-radius: 2px;
	border: none;
	border-bottom: transparent 2px solid;
	transition: all .5s ease;
}

.feedback .subscription .send-email input:hover {
	background-color: #fff;
	outline-color: #92847f;
}

.feedback .subscription .send-email input:focus {
	background-color: #fff;
	outline-color: #92847f;
}

.feedback .subscription .send-email input.active {
	background-color: #fff;
	outline-color: #92847f;
}

.feedback .subscription .send-email .button-item {
	display: block;
	margin-top: 1px;
	margin-left: 10px;
}

.feedback button {
	position: relative;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #303030;
	font-size: 32px;
	padding: 0;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	box-shadow: 0 3px 20px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 20px rgba(0,0,0,.1);
}

.feedback button:hover {
	background-color: #585250;
	outline: none;
	outline-color: none;
}

.feedback button:focus {
	background-color: #d5bcae;
	transition: all .3s ease;
	color: #303030;
	outline: none;
	outline-color: none;
}

.feedback button.active {
	background-color: #d5bcae;
	transition: all .3s ease;
	color: #303030;
	outline: none;
	outline-color: none;
}

.feedback .subscription .send-email i {
	padding-left: 2px;
	font-weight: bold;
}

.feedback .s_networks {
	display: block;
	text-align: center;
	margin-top: 30px;
	font-size: 18px;
	letter-spacing: 2px;
}

.feedback .s_networks img {
	height: 35px;
	width: auto;
	margin: 3px 9px;
}

.feedback .s_networks svg {
	height: 35px;
	width: auto;
	margin: 3px 9px;
}

.feedback .s_networks a path {
	fill: #000 !important;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

.feedback .s_networks a:hover path {
	fill: #585250!important;
}

.info {
	display: block;
	text-align: center;
}

.info p {
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 12px;
	margin-bottom: 0;
	border-top: 3px solid #fff;
	padding-top: 10px;
	padding-bottom: 0;
}

.info span {
	font-size: 16px;
	margin-right: 5px;
	letter-spacing: 1px;
	padding-top: 1px;
}

.end {
	text-align: center;
	color: #fff;
	font-family: "MyriadPro-Regular", sans-serif;
	font-size: 14px;
	background-color: #303030;
	padding: 3px;
}

.end span {
	padding-right: 8px;
	padding-top: 2px;
}

/* Custom Media Queries */
@media only screen and (min-height: 899px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
/**/
}
@media only screen and (max-width: 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
.main_line .s_networks img {
	height: 20;
	width: auto;
	margin: 25px 8px;
}
.main_line .s_networks svg {
	height: 20;
	width: auto;
	margin: 25px 8px;
}
.logo h1 {
	font-size: 93px;
}
.main_line .basket {
	margin-top: 25px;
}
.feedback .s_networks img {
	height: 32px;
	width: auto;
	margin: 0 6px;
}
.feedback .s_networks svg {
	height: 32px;
	width: auto;
	margin: 0 6px;
}
.section-pink {
	font-size: 12px;
}
.feedback .subscription .lable {
	font-size: 13px;
	margin-right: 12%;
}
.feedback .subscription .send-email input {
	width: 230px;
}
.feedback .subscription .send-email .button-item {
	margin-top: 0;
}
.feedback .subscription .dop {
	margin-right: 12%;
}
.feedback .s_networks {
	font-size: 13px;
}
.info p{
	font-size: 14px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
.main_line .s_networks {
	display: block;
	text-align: center;
}
.main_line .s_networks img {
	height: 20;
	width: auto;
	margin: 25px 48px 0;
}
.main_line .s_networks svg {
	height: 20;
	width: auto;
	margin: 25px 48px 0;
}
.logo h1 {
	font-size: 93px;
}
.main_line .basket {
	position: relative;
	float: none;
	margin-top: 12px;
	margin-left: 43%;
}
.hidden-mnu ul {
	padding: 15px 0;
}
.feedback .subscription {
	margin-top: 10px;
	margin-left: 6%;
}
.feedback .subscription .lable {
	font-size: 13px;
	margin-right: 7%;
}
.feedback .subscription .send-email .button-item {
	margin-top: -2px;
}
.feedback .subscription .dop {
	margin-bottom: 0;
	margin-right: 7%;
}
.feedback .s_networks {
	margin-top: 10px;
}
.feedback .s_networks img {
	height: 28px;
	width: auto;
	margin: 0 6px;
}
.feedback .s_networks svg {
	height: 28px;
	width: auto;
	margin: 0 6px;
}
.info p{
	font-size: 11px;
}
}

@media only screen and (max-width: 660px) {
.feedback .subscription {
	margin-left: 7%;
}
.feedback .subscription .lable {
	margin-bottom: 7px;
	margin-right: 8%;
}
.feedback .subscription .send-email input {
	width: 200px;
}
.feedback .subscription .dop {
	margin-right: 8%;
}
}
@media only screen and (max-width: 520px) {
.main_line .s_networks {
	display: block;
	text-align: center;
}
.main_line .s_networks img {
	height: 20;
	width: auto;
	margin: 25px 40px 0;
}
.main_line .s_networks svg {
	height: 20;
	width: auto;
	margin: 25px 40px 0;
}
.logo h1 {
	font-size: 85px;
}
.hidden-mnu ul {
	margin-bottom: 0;
	padding: 15px 0;
}
.feedback .subscription {
	margin-left: 8%;
}
.feedback .subscription .lable {
	margin-bottom: 5px;
	margin-right: 10%;
}
.feedback .subscription .dop {
	display: none;
}
.feedback .s_networks {
	margin-bottom: 10px;
}
.info p{
	display: none;
}
.info span{
	font-size: 14px;
	border-top: 2px solid #fff;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
.main_line .s_networks {
	display: block;
	text-align: center;
}
.main_line .s_networks img {
	height: 20;
	width: auto;
	margin: 25px 25px 0;
}
.main_line .s_networks svg {
	height: 20;
	width: auto;
	margin: 25px 25px 0;
}
.logo h1 {
	font-size: 65px;
}
.hidden-mnu ul {
	margin-bottom: 0;
	padding: 15px 0;
}
.feedback .subscription {
	margin-left: 9%;
}
.feedback .subscription .lable {
	margin-right: 11%;
}
}
@media only screen and (max-width: 420px) {
	.feedback .subscription {
	margin-left: 10%;
}
.feedback .subscription .lable {
	margin-right: 12%;
}
}
@media only screen and (max-width: 380px) {
	.feedback .subscription {
	margin-left: 12%;
}
.feedback .subscription .lable {
	margin-right: 14%;
}
}
@media only screen and (max-width: 350px) {
.feedback .subscription .lable {
	margin-right: 16%;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
.main_line .s_networks {
	display: block;
	text-align: center;
}
.main_line .s_networks img {
	height: 20;
	width: auto;
	margin: 25px 15px 0;
}
.main_line .s_networks svg {
	height: 20;
	width: auto;
	margin: 25px 15px 0;
}
.logo h1 {
	font-size: 50px;
}
.hidden-mnu ul {
	margin-bottom: 0;
	padding: 15px 0;
}
.feedback .subscription {
	margin-left: 14%;
}
.feedback .subscription .lable {
	font-size: 11px;
	letter-spacing: 1px;
	margin-right: 18%;
}
.feedback .subscription .send-email input {
	width: 170px;
}
}
@media only screen and (max-width: 280px) {
.feedback .subscription {
	margin-left: 16%;
}
.feedback .subscription .lable {
	margin-right: 20%;
}
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	/**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}